{% extends "baselayout.html" %}
{% load extras %}
{% block pagetitle %}{{ settings_site_title }} - Sign feature search {% endblock %}
{% block jqueryready %}
{% endblock %}



{% block content %}

{% if query_valid and glosscount = 0 %}
    <p>There is no exact match to the sign features and/or word you chose. Try widening your search. The sign you are looking for may not be in Signbank (yet).</p>	
{% endif %}









{% if query_valid and glosscount > 0 %}
    <div id='publicsign' class="view-featuresearch">
        <div id="signinfo" class="navbar navbar-default navbar-collapse">
        
            <div class="pull-right">
                <div class='btn-group'>
                {% for p in page_range %}
                    {% ifequal p page.number %}
                    <button type="button" class="btn btn-primary navbar-btn">{{p}}</button>
                    {% else %}{% ifequal p '...' %}
                    <span type="button" class="btn disabled navbar-btn">{{p}}</span>
                    {% else %}
                    <a type="button" class="btn btn-default navbar-btn"
                      href="?handshape={{handshape}}&location={{location}}&query={{query}}&page={{p}}">{{p}}</a>
                    {% endifequal %}{% endifequal %}
                {% endfor %}
                </div>
            </div>
        
        </div>

        <div id="definitionblock">
            <div class='col-md-4 region-left'>
                <div id="videocontainer">
                   <div id="player">
                      <iframe id='videoiframe' scrolling="no" frameborder='0' allowfullscreen="allowfullscreen"
                              src="{% url 'signbank.video.views.iframe' gloss.pk %}">
                      </iframe>
                   </div>
                   <div id="replay"></div>
                </div>
            
            
                <div id="keywords">
                     <p><strong>Keywords:</strong>
                     {% for kwd in gloss.translation_set.all %}
                       {{ kwd.translation|highlight:query }}{% if not forloop.last %},{% endif %}
                     {% endfor %}
                     </p>
                </div>

                <div id="feedback">
                    <ul>
                      <li><a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">Provide feedback about this sign</a></li>
                      <li><a href="{% url 'root_page' %}feedback/missingsign.html">Report a missing sign</a></li>
                      <li><a href="{% url 'root_page' %}feedback/generalfeedback.html">Provide general site feedback</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
{% endif %}



{% endblock %}




