{% extends "baselayout.html" %}
{% load extras %}
{% block pagetitle %}{{ settings_site_title }} - Sign feature search {% endblock %}
{% block jqueryready %}
{% endblock %}

{% block extrajs %}
<script>
$(function() {
  // Replace the dropdown list with an image map we can click to pick a handshape and location
  $("#handshape_dropdown").show();
  $("#id_handshape").hide();
  // Fill in the existing handshape for this search
  $('#dropdownMenuHandshape span.content').text($("#id_handshape option:selected").text());
  // Copy the alt tag to title for a little label tooltip on compatible browsers
  // Also fill in the href with something meaningful
  $("#handshape-map area").each(function(event) {
    var pickAlt = $(this).prop('alt');
    $(this).prop('title', pickAlt);
    $(this).prop('href', '#handshape-' + pickAlt);
  });
  // When we click the image map fill the select value and display a meaningful value
  $("#handshape-map area").click(function(event) {
    event.preventDefault();
    var pickVal = $(this).data('pick');
    var pickAlt = $(this).prop('alt');
    if (pickVal == undefined) {
      pickVal = 'notset';
      pickAlt = 'Any Handshape';
    }
    $('#id_handshape').val(pickVal);
    $('#dropdownMenuHandshape span.content').text(pickAlt);
  });
});
</script>
{% endblock %}



{% block content %}
 

    <p>Welcome to the Sign Feature Search section of the {{language}} SignBank. Here
      you can search for a sign using the initial hand shape or location and,
      optionally, an English keyword or start of an English word.</p>	
    
    <div class="searchblock">
      <form role="search" id="mainSearch" name="mainSearch" method="get" action="/dictionary/featuresearch">
         <div class="form-group">
            <label for='query'>English keyword (optional)</label>
            <input class='form-control' placeholder='Enter keywords (optional)' type="Text" id="query" name="query" value="{{ query }}" maxlength="50">
         </div>
         <div class="form-group">
          <span>
            <label for='id_handshape'>Handshape</label>

            <div class="dropdown" id="handshape_dropdown" style="display: none;">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuHandshape" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="content">Any Handshape</span>
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuHandshape">
                <img id="handshape-select" src="{{ STATIC_URL }}images/handshapes.png" alt="" usemap="#handshape-map" />
                <map name="handshape-map" id="handshape-map">

                  <area alt="Round" data-pick="0.1" href="#"
                    shape="rect" coords="3,5,155,100" />
                  <area alt="Okay" data-pick="0.2" href="#"
                    shape="rect" coords="159,5,333,100" />
                  <area alt="Point" data-pick="1.1" href="#"
                    shape="rect" coords="341,5,534,100" />
                  <area alt="Hook" data-pick="1.2" href="#"
                    shape="rect" coords="536,5,665,100" />
                  <area alt="Two" data-pick="2.1" href="#"
                    shape="rect" coords="670,5,810,100" />
                  <area alt="Kneel" data-pick="2.2" href="#"
                    shape="rect" coords="817,5,981,100" />
                  <area alt="Perth" data-pick="2.3" href="#"
                    shape="rect" coords="985,5,1107,100" />

                  <area alt="Spoon" data-pick="2.4" href="#"
                    shape="rect" coords="3,101,155,180" />
                  <area alt="Letter-n" data-pick="2.5" href="#"
                    shape="rect" coords="159,101,333,180" />
                  <area alt="Wish" data-pick="2.6" href="#"
                    shape="rect" coords="341,101,534,180" />
                  <area alt="Three" data-pick="3.1" href="#"
                    shape="rect" coords="536,101,665,180" />
                  <area alt="Mother" data-pick="3.2" href="#"
                    shape="rect" coords="670,101,810,180" />
                  <area alt="Letter-m" data-pick="3.3" href="#"
                    shape="rect" coords="817,101,981,180" />
                  <area alt="Four" data-pick="4.1" href="#"
                    shape="rect" coords="985,101,1107,180" />

                  <area alt="Spread" data-pick="5.1" href="#"
                    shape="rect" coords="3,180,155,266" />
                  <area alt="Ball" data-pick="5.2" href="#"
                    shape="rect" coords="159,180,333,266" />
                  <area alt="Flat" data-pick="5.3" href="#"
                    shape="rect" coords="341,180,534,266" />
                  <area alt="Thick" data-pick="5.4" href="#"
                    shape="rect" coords="536,180,665,266" />
                  <area alt="Cup" data-pick="5.5" href="#"
                    shape="rect" coords="670,180,810,266" />
                  <area alt="Good" data-pick="6.1" href="#"
                    shape="rect" coords="817,180,981,266" />
                  <area alt="Bad" data-pick="6.2" href="#"
                    shape="rect" coords="985,180,1107,266" />

                  <area alt="Gun" data-pick="7.1" href="#"
                    shape="rect" coords="3,267,155,340" />
                  <area alt="Letter-c" data-pick="7.2" href="#"
                    shape="rect" coords="159,267,333,340" />
                  <area alt="Small" data-pick="7.3" href="#"
                    shape="rect" coords="341,267,534,340" />
                  <area alt="Seven" data-pick="7.4" href="#"
                    shape="rect" coords="536,267,665,340" />
                  <area alt="Eight" data-pick="8.1" href="#"
                    shape="rect" coords="670,267,810,340" />
                  <area alt="Nine" data-pick="9.1" href="#"
                    shape="rect" coords="817,267,981,340" />
                  <area alt="Fist" data-pick="10.1" href="#"
                    shape="rect" coords="985,267,1107,340" />

                  <area alt="Soon" data-pick="10.2" href="#"
                    shape="rect" coords="3,341,155,430" />
                  <area alt="Ten" data-pick="10.3" href="#"
                    shape="rect" coords="159,341,333,430" />
                  <area alt="Write" data-pick="11.1" href="#"
                    shape="rect" coords="341,341,534,430" />
                  <area alt="Salt" data-pick="12.1" href="#"
                    shape="rect" coords="536,341,665,430" />
                  <area alt="Middle" data-pick="13.1" href="#"
                    shape="rect" coords="670,341,810,430" />
                  <area alt="Rude" data-pick="14.1" href="#"
                    shape="rect" coords="817,341,981,430" />
                  <area alt="Ambivalent" data-pick="15.1" href="#"
                    shape="rect" coords="985,341,1107,430" />

                  <area alt="Love" data-pick="16.1" href="#"
                    shape="rect" coords="3,431,155,510" />
                  <area alt="Animal" data-pick="17.1" href="#"
                    shape="rect" coords="159,431,333,510" />

                </map>
              </div>
            </div>

            {{form.handshape}}
          </span>
          <span>
            <label for='id_location'>Location</label>
            {{form.location}}
         </span>
         </div>
         <div class="form-group">
            <button type="submit" class="btn btn-default">Sign Search</button>
         </div>
       
      </form>
    </div>

        {% ifequal glosscount 0 %}
           {% if query_valid %}
            <p>There is no match.</p>
            {% endif %}
        {% else %}
         {% ifequal glosscount 1 %}
            <p>{{ glosscount }} full or partial match found</p>       
         {% else %}
           <p>{{ glosscount }} full or partial matches found</p>
         {% endifequal %}
        {% endifequal %}
 
{% if gloss %}
<div id="definitionblock">
    <div class='col-md-4 region-left'>
        <div id="videocontainer">
           <div id="player">
              <iframe id='videoiframe' scrolling="no" frameborder='0' allowfullscreen="allowfullscreen"
                      src="{% url 'signbank.video.views.iframe' gloss.pk %}">
              </iframe>
           </div>
           <div id="replay"></div>
        </div>
    
    
        <div id="keywords">
             <p><strong>Keywords:</strong>
             {% for kwd in gloss.translation_set.all %}
               {{ kwd.translation|highlight:query }}{% if not forloop.last %},{% endif %}
             {% endfor %}
             </p>
        </div>

        <div id="feedback">
            <ul>
                <li><a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">Provide feedback about this sign</a></li>
                <li><a href="{% url 'root_page' %}feedback/missingsign.html">Report a missing sign</a></li>
                <li><a href="{% url 'root_page' %}feedback/generalfeedback.html">Provide general site feedback</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}





          {% if page.has_next or page.has_previous %} 
          <p>Jump to results page: 
          {% for p in paginator.page_range %}
             {% ifequal p page.number %}
             <strong>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</strong>
             {% else %}
             <a href='?query={{query}}&page={{p}}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             {% endifequal %}
          {% endfor %}
          </p>

          {% endif %}

{% endblock %}




