{% extends "baselayout.html" %}
{% load extras %}

{% block content %}
 

    <p>Welcome to the Sign Feature Search section of the {{language}} SignBank. Here
      you can search for a sign using the initial hand shape or location and,
      optionally, an English keyword or start of an English word.</p>	
    
    <div class="searchblock">
      <form role="search" id="mainSearch" name="mainSearch" method="get" action="/dictionary/featuresearch">
         <div class="form-group">
            <label for='query'>English keyword (optional)</label>
            <input class='form-control' placeholder='Enter keywords (optional)' type="Text" id="query" name="query" value="{{ query }}" maxlength="50">
         </div>
         <div class="form-group">
          <span>
            <label for='id_handshape'>Handshape</label>
            {{form.handshape}}
          </span>
          <span>
            <label for='id_location'>Location</label>
            {{form.location}}
         </span>
         </div>
         <div class="form-group">
            <button type="submit" class="btn btn-default">Sign Search</button>
         </div>
       
      </form>
    </div>

        {% ifequal glosscount 0 %}
           {% if query_valid %}
            <p>There is no match.</p>
            {% endif %}
        {% else %}
         {% ifequal glosscount 1 %}
            <p>{{ glosscount }} full or partial match found</p>       
         {% else %}
           <p>{{ glosscount }} full or partial matches found</p>
         {% endifequal %}
        {% endifequal %}
 
{% if gloss %}
<div id="definitionblock">
    <div class='col-md-4 region-left'>
        <div id="videocontainer">
           <div id="player">
              <iframe id='videoiframe' scrolling="no" frameborder='0' allowfullscreen="allowfullscreen"
                      src="{% url 'signbank.video.views.iframe' gloss.pk %}">
              </iframe>
           </div>
           <div id="replay"></div>
        </div>
    
    
        <div id="keywords">
             <p><strong>Keywords:</strong>
             {% for kwd in gloss.translation_set.all %}
               {{ kwd.translation|highlight:query }}{% if not forloop.last %},{% endif %}
             {% endfor %}
             </p>
        </div>

        <div id="feedback">
            <ul>
                <li><a href="{% url 'root_page' %}feedback/gloss/{{gloss.idgloss}}.html?return=/dictionary/gloss/{{gloss.idgloss}}.html&lastmatch={{lastmatch}}">Provide feedback about this sign</a></li>
                <li><a href="{% url 'root_page' %}feedback/missingsign.html">Report a missing sign</a></li>
                <li><a href="{% url 'root_page' %}feedback/generalfeedback.html">Provide general site feedback</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}





          {% if page.has_next or page.has_previous %} 
          <p>Jump to results page: 
          {% for p in paginator.page_range %}
             {% ifequal p page.number %}
             <strong>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</strong>
             {% else %}
             <a href='?query={{query}}&page={{p}}'>{% ifequal p 0 %}Start{% else %}{{p}}{% endifequal %}</a>
             {% endifequal %}
          {% endfor %}
          </p>

          {% endif %}

{% endblock %}




